# Core data science libraries
pandas>=2.2.0
numpy>=1.26.0
matplotlib>=3.8.4
seaborn>=0.13.2
plotly>=6.0.0

# Machine learning libraries
scikit-learn>=1.4.2

# Financial data
yfinance>=0.2.30

# Technical indicators
pandas-ta

# Utilities
joblib>=1.4.0
tqdm>=4.66.0

